@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
body {
    height: 100%;
}

body {
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #777777;
}

img {
    max-width: 100%;
}

ul,
li,
a {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.main {
    flex: 1 0 auto;
}

.universal-section {
    padding: 90px 0;
}

.universal-info {
    justify-content: space-between;
    flex-wrap: wrap;
}

.info__block {
    max-width: 600px;
}

.info-title {
    color: #222222;
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 30px;
}

.info-title span {
    font-weight: 700;
}

.text-uppercase {
    text-transform: uppercase;
}

.header {
    background-image: url(../img/head-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 45px;
    color: #fff;
}

.header__block {
    justify-content: space-between;
    align-items: center;
}

.menu__list:not(:last-child) {
    margin-right: 28px;
}

.menu__list a {
    text-transform: capitalize;
}

.nav__btn {
    display: none;
}

.offer {
    margin-top: 210px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.offer__text {
    margin-bottom: 40px;
    font-size: 32px;
    font: 500px;
}

.offer__title {
    margin-bottom: 78px;
    font-weight: 700;
    font-size: 65px;
}

.offer__btn {
    width: 240px;
    padding: 15px 0;
    margin-bottom: 120px;
    font-size: 23px;
    font-weight: 700;
    text-transform: capitalize;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: all 0.5s;
}

.offer__btn:hover {
    border: 1px solid transparent;
    background-color: #fff;
    color: #000;
}

.branding {
    background-color: #fafafa;
}

.services__block {
    justify-content: space-between;
    flex-wrap: wrap;
}

.servisec__item {
    max-width: 410px;
}

.servisec__item:not(:last-child) {
    margin-bottom: 40px;
}

.services__img {
    min-width: 70px;
    height: 70px;
    background-color: #222;
    justify-content: center;
    border-radius: 50%;
    margin-right: 45px;
    align-self: flex-start;
}

.services__info-title {
    color: #222;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.clients {
    text-align: center;
    background-color: #fafafa;
}

.clients__title,
.team__title {
    margin-bottom: 10px;
}

.clients__text,
.team__text {
    margin-bottom: 40px;
}

.msg {
    justify-content: space-between;
}

.msg__img,
.team__item-img {
    min-width: 220px;
    height: 220px;
    border-radius: 50%;
}

.msg__info {
    max-width: 550px;
    padding: 35px 70px 40px;
    position: relative;
    border: 1px solid #ededed;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #fff;
}

.msg:not(:last-child) {
    margin-bottom: 60px;
}

.msg__info::after {
    content: '';
    position: absolute;
    display: block;
    top: calc(50% - 10px);
    width: 15px;
    height: 15px;
    border-radius: 0px;
    transform: rotate(45deg);
    background-color: #fff;
    z-index: 10;
}

.msg__info-right::after {
    left: -10px;
    border-left: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.msg__info-left::after {
    right: -10px;
    border-right: 1px solid #ededed;
    border-top: 1px solid #ededed;
}

.msg__text {
    margin-bottom: 10px;
}

.msg__author {
    color: #7690c5;
}

.brand {
    justify-content: center;
}

.brand__img:not(:last-child) {
    margin-right: 40px;
}

.team {
    background-color: #111;
    text-align: center;
}

.team__title {
    color: #fff;
}

.team__text {
    color: #5c5c5c;
}

.team__block {
    justify-content: space-between;
    color: #fff;
    margin-bottom: 35px;
}

.team__item-img {
    border: 3px solid #fff;
}

.team__item-img,
.team__item-title,
.team__item-text {
    margin-bottom: 10px;
}

.team__info {
    margin: 0 auto;
    color: #ebebeb;
    max-width: 600px;
}

.team__social {
    justify-content: center;
}

.team__social-img {
    border-radius: 50px;
    border: 2px solid #fff;
    justify-content: center;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: all 0.5s;
}

.team__social-img:hover {
    background-color: #fff;
}

.team__social-img:not(:last-child) {
    margin-right: 10px;
}

.contacts,
.contact__title {
    color: #fff;
}

.footer,
.contacts {
    background-color: #7690c5;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.footer__text {
    padding: 26px 0;
    color: #fff;
    border-top: 1px solid #87a0d2;
}