@font-face {
    font-family: 'BrandonGrotesque-Bold';
    src: url('fonts/BrandonGrotesque-Bold.eot');
    src: local('Brandon Grotesque Bold'), local('fonts/BrandonGrotesque-Bold'), url('fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/BrandonGrotesque-Bold.woff') format('woff'), url('fonts/BrandonGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Medium';
    src: url('fonts/BrandonGrotesque-Medium.eot');
    src: local('Brandon Grotesque Medium'), local('BrandonGrotesque-Medium'), url('fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/BrandonGrotesque-Medium.woff') format('woff'), url('fonts/BrandonGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque-Regular';
    src: url('fonts/BrandonGrotesque-Regular.eot');
    src: local('Brandon Grotesque Regular'), local('BrandonGrotesque-Regular'), url('fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/BrandonGrotesque-Regular.woff') format('woff'), url('fonts/BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
}

body {
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Brandon Grotesque-Regular';
    font-weight: 400;
    font-size: 18px;
    color: #777777;
    position: relative;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

ul,
li,
a {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    display: block;
    border: none;
    transition: all 0.5s;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.main {
    flex: 1 0 auto;
}

.universal-section {
    padding: 90px 0;
}

.universal-info {
    justify-content: space-between;
    flex-wrap: wrap;
}

.info__block {
    max-width: 600px;
}

.info-title {
    color: #222222;
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 30px;
}

.info-title span {
    font-family: 'BrandonGrotesque-Bold';
}

.text-uppercase {
    text-transform: uppercase;
}

.m-b-40 {
    margin-bottom: 40px;
}

.fixed-page {
    overflow: hidden;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0 15px;
    width: 100%;
    z-index: 20;
    transition: ease 0.3s;
}

.back-color {
    background-color: #222;
}

.header {
    background-image: url(../img/head-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 45px;
    color: #fff;
}

.header__nav {
    transition: 0.2s ease;
}

.header__block {
    justify-content: space-between;
    align-items: center;
}

.menu__list:not(:last-child) {
    margin-right: 28px;
}

.menu__list a {
    text-transform: capitalize;
    padding: 5px 0;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    transition: 0.4s ease;
}

.menu__list a:hover {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}


/*** menu burger ***/

.menu-burger__header {
    position: relative;
    width: 40px;
    height: 35px;
    display: none;
    margin-right: 10px;
    cursor: pointer;
}

.menu-burger__header span,
.menu-burger__header:after,
.menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #fff;
    margin: 0 auto;
}

.menu-burger__header span {
    top: 16px;
}

.menu-burger__header:after,
.menu-burger__header:before {
    content: '';
}

.menu-burger__header:after {
    bottom: 5px;
}

.menu-burger__header:before {
    top: 5px;
}

.menu-burger__header.open-menu span {
    opacity: 0;
    transition: 0.5s;
}

.menu-burger__header.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}

.menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}

.offer {
    margin-top: 210px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.offer__text {
    margin-bottom: 40px;
    font-size: 32px;
}

.offer__title {
    margin-bottom: 78px;
    font-weight: 700;
    font-size: 65px;
}

.offer__btn {
    width: 240px;
    padding: 15px 0;
    margin-bottom: 120px;
    font-size: 23px;
    font-weight: 700;
    text-transform: capitalize;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: all 0.5s;
}

.offer__btn:hover {
    border: 1px solid transparent;
    background-color: #fff;
    color: #000;
}

.branding {
    background-color: #fafafa;
}

.services__block {
    justify-content: space-between;
    flex-wrap: wrap;
}

.servisec__item {
    max-width: 410px;
}

.servisec__item:not(:last-child) {
    margin-bottom: 40px;
}

.services__img {
    min-width: 70px;
    height: 70px;
    background-color: #222;
    justify-content: center;
    border-radius: 50%;
    margin-right: 45px;
    align-self: flex-start;
}

.services__info-title {
    color: #222;
    font-size: 22px;
    font-family: 'BrandonGrotesque-Medium';
    margin-bottom: 20px;
}

.clients {
    text-align: center;
    background-color: #fafafa;
}

.clients__title,
.team__title {
    margin-bottom: 10px;
}

.clients__text,
.team__text {
    margin-bottom: 40px;
}

.msg {
    justify-content: space-between;
}

.msg__img,
.team__item-img {
    min-width: 220px;
    height: 220px;
    border-radius: 50%;
}

.msg__info {
    max-width: 550px;
    padding: 35px 70px 40px;
    position: relative;
    border: 1px solid #ededed;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #fff;
}

.msg:not(:last-child) {
    margin-bottom: 60px;
}

.msg__info::after {
    content: '';
    position: absolute;
    display: block;
    top: calc(50% - 10px);
    width: 15px;
    height: 15px;
    border-radius: 0px;
    transform: rotate(45deg);
    background-color: #fff;
    z-index: 10;
}

.msg__info-right::after {
    left: -10px;
    border-left: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.msg__info-left::after {
    right: -10px;
    border-right: 1px solid #ededed;
    border-top: 1px solid #ededed;
}

.msg__text {
    margin-bottom: 10px;
}

.msg__author {
    color: #7690c5;
}

.brand {
    justify-content: center;
    flex-wrap: wrap;
}

.brand__img:not(:last-child) {
    margin-right: 40px;
}

.team {
    background-color: #111;
    text-align: center;
}

.team__title {
    color: #fff;
}

.team__text {
    color: #5c5c5c;
}

.team__block {
    color: #fff;
    margin-bottom: 35px;
}

.team__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 70px);
    color: #fafafa;
    z-index: 25;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #87a0d2;
    transition: ease 0.4s;
}

.team__btn:hover {
    background-color: #fff;
}

.team__btn-prev:hover,
.team__btn-next:hover {
    color: #87a0d2;
}

.team__btn-prev {
    left: 0;
}

.team__btn-next {
    right: 0;
}

.team__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.slick-dots {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.slick-dots li:not(:last-child) {
    margin-right: 10px;
}

.slick-dots button {
    font-size: 0;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.slick-dots li.slick-active>button {
    background-color: #87a0d2;
}

.team__item-img {
    border: 3px solid #fff;
}

.team__item-img,
.team__item-title,
.team__item-text {
    margin-bottom: 10px;
}

.team__info {
    margin: 0 auto;
    color: #ebebeb;
    max-width: 600px;
}

.team__social {
    justify-content: center;
}

.team__social-link {
    border-radius: 50px;
    border: 2px solid #fff;
    justify-content: center;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: all 0.5s;
}

.team__social-img {
    width: 20px;
}

.team__social-link:hover {
    background-color: #fff;
}

.team__social-link:hover .team__social-img {
    color: #000;
}

.team__social-link:not(:last-child) {
    margin-right: 10px;
}

.contacts__block {
    justify-content: space-between;
}

.contacts,
.contact__title {
    color: #fff;
}

.contact {
    max-width: 425px;
}

.contact__item span {
    margin-left: 12px;
}

.contact__text {
    margin-bottom: 40px;
}

.contact__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.form {
    flex-direction: column;
    width: 450px;
}

.form input,
.form textarea {
    display: block;
    width: 95%;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 30px;
    resize: none;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #bbbbbb;
}

.form textarea {
    height: 200px;
}

.footer,
.contacts {
    background-color: #7690c5;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.footer__text {
    padding: 26px 0;
    color: #fff;
    border-top: 1px solid #87a0d2;
}

.form__btn {
    width: 250px;
    padding: 10px 0;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
}

.form__btn:hover {
    background-color: #fff;
    color: #7690c5;
}


/*МОДАЛЬНОЕ ОКНО*/

#bg_popup {
    position: fixed;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

#popup {
    background: #fff;
    width: 350px;
    margin: 25% auto;
    text-align: center;
    padding: 40px 20px;
    position: relative;
    border-radius: 5px;
}

.close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(47, 47, 49);
    cursor: pointer;
}

.popup__title {
    margin-bottom: 10px;
}

.popup__title span {
    font-family: 'BrandonGrotesque-Bold';
    color: #87a0d2;
}

.form input.error-input,
.form textarea.error-input {
    border: solid 1px red;
}

.error {
    color: red;
    margin-left: 5px;
}

#btn-up {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 85px;
    text-align: center;
    color: #fff;
    background-color: #000;
    border: 1px solid transparent;
    font-size: 30px;
    padding: 10px;
    border-radius: 3px;
    transition: .3s;
    z-index: 10;
}

#btn-up:hover {
    cursor: pointer;
    border: 1px solid #222;
    background-color: #87a0d2;
    transition: .3s;
}